<div class="mess-border" id="message-<%= message.id %>">
  <small class="d-flex align-items-center justify-content-between">
    <% if message.user.corporate %>
      <strong id="mcomp"><%= message.user.companies.first.name %></strong>
    <% else %>
      <strong id="mcand"><%= message.user.candidates.first.first_name %></strong>
    <% end %>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
