<% if current_user.corporate %> <!--if User corporate -->
  <% if task.status == "Accepted" %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <div>
        <% if task.candidate.avatar.attached? %>
          <%= cl_image_tag(task.candidate.avatar.key, width: 50, height: 50, crop: :fill) %>
        <% else %>
          <%= image_tag("https://picsum.photos/400/300", width: 50, height: 50, crop: :fill)%>
        <% end %>
      </div>
      <p><%= "#{task.candidate.first_name} #{task.candidate.last_name}" %></p>
      <p><%= "From #{task.start_date} to #{task.end_date}" %></p>
      <p><%= task.candidate.role %></p>
      <% if task.review.nil? && task.end_date < Date.today %>
        <!-- Pop-up -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= task.id %>">
          Write a review
        </button>
      <% end %>
        <div class="status" >
          <%= link_to "Archive", archive_task_path(task), data: {action: "click->update-task-status#archive"}, class: "btn-archive"  %>
        </div>
    </div>
  <% elsif task.status == "Awaiting" %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <div>
        <% if task.candidate.avatar.attached? %>
          <%= cl_image_tag(task.candidate.avatar.key, width: 50, height: 50, crop: :fill) %>
        <% else %>
          <%= image_tag("https://picsum.photos/400/300", width: 50, height: 50, crop: :fill)%>
        <% end %>
      </div>
      <p><%= "#{task.candidate.first_name} #{task.candidate.last_name}" %></p>
      <p><%= "From #{task.start_date} to #{task.end_date}" %></p>
      <p><%= task.candidate.role %></p>
      <% if task.status != "Archived" %>
        <div class="status" >
          <%= link_to "Archive", archive_task_path(task), data: {action: "click->update-task-status#archive"}, class: "btn-archive"  %>
        </div>
      <% end %>
    </div>

  <% else %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <div>
        <% if task.candidate.avatar.attached? %>
          <%= cl_image_tag(task.candidate.avatar.key, width: 50, height: 50, crop: :fill) %>
        <% else %>
          <%= image_tag("https://picsum.photos/400/300", width: 50, height: 50, crop: :fill)%>
        <% end %>
      </div>
      <p><%= "#{task.candidate.first_name} #{task.candidate.last_name}" %></p>
      <p><%= "From #{task.start_date} to #{task.end_date}" %></p>
      <p><%= task.candidate.role %></p>
    </div>
  <% end %>
<% else %> <!-- else user candidate -->
  <% if task.status == "Awaiting" && task.end_date > Date.today %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <p><%= task.project.name %></p>
      <p><%= task.project.company.name %></p>
      <p><%= "From #{task.start_date} to #{task.end_date}" %></p>
      <p><%= "Description : #{task.project.description}" %></p>
      <div class="status" >
        <%= link_to "Accept", accept_task_path(task), data: {action: "click->update-task-status#accept"}, class: "btn-accept"  %>
        <%= link_to "Decline", decline_task_path(task), data: {action: "click->update-task-status#decline"}, class: "btn-decline"  %>
      </div>
      en attente
    </div>
  <% elsif task.status == "Accepted" && task.end_date > Date.today  %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <p><%= task.project.name %></p>
      <p><%= task.project.company.name %></p>
      <p><%= "From #{task.start_date} to #{task.end_date}" %></p>
      <p><%= "Description : #{task.project.description}" %></p>
      accpeté
    </div>
  <% else %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <p><%= task.project.name %></p>
      <p><%= task.project.company.name %></p>
      <p><%= "From #{task.start_date} to #{task.end_date}" %></p>
      <p><%= "Description : #{task.project.description}" %></p>
      tout le reste
    </div>
  <% end %>
<% end %>
