<% if current_user.corporate %> <!--if User corporate -->
  <% if task.status == "Accepted" %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <div>
        <% if task.candidate.avatar.attached? %>
          <%= cl_image_tag(task.candidate.avatar.key) %>
        <% else %>
          <%= image_tag("avatar")%>
        <% end %>
      </div>
      <h2><%= "#{task.candidate.first_name} #{task.candidate.last_name}" %></h2> <br>
      <h3><%= "From #{task.start_date}" %></h3>
      <h3><%= "To #{task.end_date}" %></h3>
      <h5><%= task.candidate.role %></h5>
      <% if task.review.nil? && task.end_date < Date.today %>
        <!-- Pop-up -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= task.id %>">
          Write a review
        </button>
      <% end %>
      <div class="status" >
        <%= link_to "archive", archive_task_path(task), data: {action: "click->update-task-status#archive"}, class: "btn-archive"  %>
      </div>
      <%= link_to "More details", company_project_candidate_path(@company, @project, task.candidate), class: "btn-details" %>
    </div>
  <% elsif task.status == "Awaiting" %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <div>
        <% if task.candidate.avatar.attached? %>
          <%= cl_image_tag(task.candidate.avatar.key) %>
        <% else %>
          <%= image_tag("avatar")%>
        <% end %>
      </div>
      <h2><%= "#{task.candidate.first_name} #{task.candidate.last_name}" %></h2> <br>
      <h3><%= "From #{task.start_date}" %></h3>
      <h3><%= "To #{task.end_date}" %></h3>
      <h5><%= task.candidate.role %></h5>
      <% if task.status != "Archived" %>
        <div class="status" >
          <%= link_to "Archive", archive_task_path(task), data: {action: "click->update-task-status#archive"}, class: "btn-archive"  %>
        </div>
        <%= link_to "More details", company_project_candidate_path(@company, @project, task.candidate), class: "btn-details" %>
      <% end %>
    </div>

  <% else %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <div>
        <% if task.candidate.avatar.attached? %>
          <%= cl_image_tag(task.candidate.avatar.key) %>
        <% else %>
          <%= image_tag("avatar")%>
        <% end %>
      </div>
      <h2><%= "#{task.candidate.first_name} #{task.candidate.last_name}" %></h2>
      <h3><%= "From #{task.start_date}" %></h3>
      <h3><%= "To #{task.end_date}" %></h3>
      <h5><%= task.candidate.role %></h5>
      <%= link_to "More details", company_project_candidate_path(@company, @project, task.candidate), class: "btn-details" %>
    </div>
  <% end %>
<% else %> <!-- else user candidate -->
  <% if task.status == "Awaiting" && task.start_date > Date.today %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <h2><%= task.project.name %></h2>
      <h5><%= task.project.company.name %></h5>
      <h3><%= "From #{task.start_date}" %></h3>
      <h3><%= "To #{task.end_date}" %></h3>
      <button type="button" class="btn btn-view-details" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= task.id %>">
        See the description
      </button>
      <div class="modal fade bd-project_description-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <p><%= task.project.description %></p>
          </div>
        </div>
      </div>
      <div class="status" >
        <%= link_to "Accept", accept_task_path(task), data: {action: "click->update-task-status#accept"}, class: "btn-accept"  %>
        <%= link_to "Decline", decline_task_path(task), data: {action: "click->update-task-status#decline"}, class: "btn-decline"  %>
      </div>
    </div>
  <% elsif task.status == "Accepted" && task.end_date > Date.today  %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <h2><%= task.project.name %></h2>
      <h5><%= task.project.company.name %></h5>
      <h3><%= "From #{task.start_date}" %></h3>
      <h3><%= "To #{task.end_date}" %></h3>
      <button type="button" class="btn btn-view-details" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= task.id %>">
        See the description
      </button>
      </div>
    </div>
  <% elsif task.status == "Archived" || task.end_date < Date.today %>
    <div class="card_task" data-controller="update-task-status" data-update-task-status-target="task">
      <h2><%= task.project.name %></h2>
      <h5><%= task.project.company.name %></h5>
      <h3><%= "From #{task.start_date}" %></h3>
      <h3><%= "To #{task.end_date}" %></h3>
      <button type="button" class="btn-view-details" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= task.id %>">
        See the description
      </button>



    </div>
  <% end %>
<% end %>
