<div class="container">
  <div class="formulaire">
    <h2>Edit profile</h2>
      <%= simple_form_for @candidate do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :address %>
        <%= f.input :sector, collection: Candidate::SECTOR %>
        <%= f.input :role %>
        <%= f.input :description %>
        <%= f.input :experiences %>
        <%= f.input :skills %>
        <%= f.input :avatar, as: :file, input_html: { autocomplete: "avatar" } %>
        <%= f.button :submit, "Update" %>
      <% end %>
  </div>

</div>
