<div class="container">

  <div class="d-flex">
    <div class="card_profile_candidate">
      <% if @candidate.avatar.attached? %>
        <%= cl_image_tag(@candidate.avatar.key, width: 50, height: 50, crop: :fill) %>
      <% else %>
        <%= image_tag("https://picsum.photos/400/300", width: 50, height: 50, crop: :fill)%>
      <% end %>

      <h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
      <p><%= "Address : #{@candidate.address}" %></p>
      <p><%= @candidate.role %></p>
      <p><%= @candidate.sector %></p>
      <p><%= @candidate.description %></p>
      <p><%= @candidate.experiences %></p>
      <p><%= @candidate.skills %></p>

      <% if current_user == @candidate.user %>
        <div class = "btn-edit">
          <%= link_to 'Edit profile', edit_candidate_path(@candidate.id)%>
        </div>
        <p><%= "Availability : #{@candidate.availability}" %></p>
        <%= simple_form_for @candidate do |f| %>
          <%= f.input :availability %>
          <%= f.button :submit %>
        <% end %>
      <% end %>
    </div>

    <% if current_user.corporate && @company && @project && @candidate %>
        <div class="card_new_task">
          <%= simple_form_for [@company, @project, @candidate, @task] do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
            <%= f.button :submit %>
          <% end %>
        </div>
      <% end %>

  </div>

  <div class="d-flex">

    <div class="reviews">
      <h1>Reviews</h1>
      <% if @reviews.any? && @reviews != nil %>
        <% @reviews.each do|review| %>
          <div class="review">
            <p><strong><%= review.task.project.company.name %></strong> - <%= review.rating %>/5</p>
            <p><i>"<%= review.content %>"<i></p>
          </div>
        <% end %>
      <% end %>
    </div>



    <% if current_user == @candidate.user %>
      <div class="cards_tasks">
        <% @candidate.tasks.each do |task| %>
          <% if task.status == "Awaiting" || task.status == "Accepted"  %>
            <%= render partial: "tasks/card_task", locals: {task: task} %>
          <% end %>
        <% end %>
      </div>
    <% end %>




  </div>

</div>
