<div class="container">

  <div class="d-flex">

    <div class="profile">

      <div class="card_profile_candidate">
        <% if @candidate.avatar.attached? %>
          <%= cl_image_tag(@candidate.avatar.key, width: 50, height: 50, crop: :fill) %>
        <% else %>
          <%= image_tag("avatar", width: 50, height: 50, crop: :fill)%>
        <% end %>

        <h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
        <h6><%= @candidate.address %></h6>
        <h3><%= @candidate.role %></h3>
        <h4><%= @candidate.sector %></h4>
        <p><%= @candidate.description %></p>

        <% if current_user == @candidate.user %>
          <%= link_to 'Edit profile', edit_candidate_path(@candidate.id), class: "btn-edit"%>

          <%# <div class="availability"> %>
            <%# <%=# simple_form_for @candidate do |f| %>
              <%# <%=# f.input :availability, as: :boolean, input_html: { class: "toggle" } %>
              <%# f.button :submit %>
            <%# end %>
              <%# </div> %>

        <% end %>
      </div>

      <div class="card_reviews">
        <h1>REVIEWS</h1>
          <% @reviews.first(3).each do|review| %>
            <div class="review">
              <p class="d-flex align-items-start r_content"><strong><%= review.task.project.company.name %></strong>&emsp;<% review.rating.times do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" color="gold">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
              <% end %>
              <% (5 - review.rating).times do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" color="gold">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
              <% end %>
              </p>
              <p><i>"<%= review.content %>"</i></p>
            </div>
          <% end %>

          <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            See all
          </button>

          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content custom_modal">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Reviews</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <% @reviews.each do|review| %>
                    <div class="review">
                      <p class="d-flex align-items-start r_content"><strong><%= review.task.project.company.name %></strong>&emsp;<% review.rating.times do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" color="gold">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                      <% end %>
                      <% (5 - review.rating).times do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" color="gold">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                      <% end %>
                      </p>
                      <p><i>"<%= review.content %>"</i></p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <% if current_user.corporate && @company && @project && @candidate %>
      <div class="new_candidate">

          <%= simple_form_for [@company, @project, @candidate, @task], html: { class: "form-new-task"}  do |f| %>
            <div class="card_new_task">
              <%= f.input :start_date,  as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <%= f.button :submit, "Validate", class: "btn-new-task" %>
            </div>
          <% end %>

      </div>
    <% end %>

    <% if current_user == @candidate.user %>
      <div class="onglets_candidate">
        <div class="container-principal">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending-tab-pane" type="button" role="tab" aria-controls="pending-tab-pane" aria-selected="true">PENDING CONFIRMATION</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="ongoing-tab" data-bs-toggle="tab" data-bs-target="#ongoing-tab-pane" type="button" role="tab" aria-controls="ongoing-tab-pane" aria-selected="false">ON GOING</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="closed-tab" data-bs-toggle="tab" data-bs-target="#closed-tab-pane" type="button" role="tab" aria-controls="closed-tab-pane" aria-selected="false">CLOSED MISSION</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="pending-tab-pane" role="tabpanel" aria-labelledby="pending-tab" tabindex="0">
              <div class="cards_tasks">
                <% @candidate.tasks.each do |task| %>
                    <% if task.status == "Awaiting" %>
                      <%= render partial: "tasks/card_task", locals: {task: task} %>
                    <% end %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="ongoing-tab-pane" role="tabpanel" aria-labelledby="ongoing-tab" tabindex="0">
              <div class="cards_tasks">
                <% @candidate.tasks.each do |task| %>
                    <% if task.status == "Accepted" %>
                      <%= render partial: "tasks/card_task", locals: {task: task} %>
                    <% end %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="closed-tab-pane" role="tabpanel" aria-labelledby="closed-tab" tabindex="0">
              <div class="cards_tasks">
                <% @candidate.tasks.each do |task| %>
                    <% if task.status == "Archived" %>
                      <%= render partial: "tasks/card_task", locals: {task: task} %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% @candidate.tasks.each do |task| %>
      <div class="modal fade" id="staticBackdrop<%= task.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop<%= task.id %>Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdrop<%= task.id %>Label">Project details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p><%= task.project.description %></p>
            </div>
          </div>
        </div>
      </div>
<% end %>
