
 <% if @candidate.avatar.attached? %>
  <%= cl_image_tag(@candidate.avatar.key,
  width: 50, height: 50, crop: :fill) %>
  <% else %>
    <%= image_tag("https://picsum.photos/400/300",
    width: 50, height: 50, crop: :fill)%>
<% end %>
<h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
<p><%= "Address : #{@candidate.address}" %></p>
<h4>Role :</h4>
<p><%= @candidate.role %></p>
<h4>Sector :</h4>
<p><%= @candidate.sector %></p>
<h4>Description :</h4>
<p><%= @candidate.description %></p>
<h4>Experiences :</h4>
<p><%= @candidate.experiences %></p>
<h4>Skills :</h4>
<p><%= @candidate.skills %></p>

<% if current_user == @candidate.user %>
<div class = "btn-edit">
  <%= link_to 'Edit profile', edit_candidate_path(@candidate.id)%>
</div>
  <p><%= "Availability : #{@candidate.availability}" %></p>
  <%= simple_form_for @candidate do |f| %>
          <%= f.input :availability %>
          <%= f.button :submit %>
        <% end %>
<% end %>
<br>
<br>

<h1>Reviews</h1>
  <% @candidate.tasks.each do |task| %>
    <p><strong><%= task.project.company.name %></strong> - <%= task.reviews.rating %>/5</p>
    <p><i>"<%= task.reviews.content %>"<i></p>
  <% end %>
<br>
<br>

<% if current_user == @candidate.user %>
  <h4>Tasks :</h4>
  <% @candidate.tasks.each do |task| %>
    <p><%= "Project : #{task.project.name}" %></p>
    <p><%= "From #{task.start_date} to #{task.end_date}" %></p>
    <p><%= "Description : #{task.project.description}" %></p>
    <p><%= "Status : #{task.status}" %></p>
    <% if task.status == "Awaiting" %>
      <%= simple_form_for (task) do |f| %>
          <%= f.input :status, collection: ["Accepted", "Declined"] %>
          <%= f.button :submit %>
      <% end %>

      <%#= link_to "Accept", accept_path('task_id' => task) %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.corporate %>
  <h2>Dates:</h2>
      <%= simple_form_for [@company, @project, @task] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.button :submit %>
      <% end %>
<% end %>
