<div class="container">
  <div class="formulaire">
    <h2>New project</h2>
      <%= simple_form_for [@company, @project] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <div class="d-flex">
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
        </div>
        <%= f.button :submit, class: "button" %>
      <% end %>
  </div>
</div>
