<div class="container-formulaire">
  <h2>New project</h2>
  <div class="formulaire">
    <div>
      <%= simple_form_for @project do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :archived %>
        <%= f.button :submit, class: "button" %>
      <% end %>
    </div>
  </div>
</div>
