<div class="container">

  <div class="container-total d-flex">
    <div class="entire">
      <div class="card_profile_project">
        <h1><%= @project.name %></h1>
        <h2>description</h2> <p><%= @project.description %></p> <br>
        <h2>start date</h2> <p><%= @project.start_date %></p>
        <h2>end date</h2> <p><%=  @project.end_date %></p>
        <div class="btn-edit">
          <%=link_to "edit", edit_company_project_path(@project) %> <br>
        </div>

          <%= button_to "Archive", archive_project_path(@project, archived: true), method: :patch, class: "btn-archive" %> <br>

      </div>

      <%# <div class="candidates"> %>
      <div class="btn-search">
        <%= link_to "search for candidates", company_project_candidates_path(@company, @project) %> <br>
      </div>
    </div>
      <%# <h2>My candidates choices</h2> %>


      <div class="container-principal">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="accepted-tab" data-bs-toggle="tab" data-bs-target="#accepted-tab-pane" type="button" role="tab" aria-controls="accepted-tab-pane" aria-selected="true">ACCEPTED</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="awaiting-tab" data-bs-toggle="tab" data-bs-target="#awaiting-tab-pane" type="button" role="tab" aria-controls="awaiting-tab-pane" aria-selected="false">AWAITING</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="archived-tab" data-bs-toggle="tab" data-bs-target="#archived-tab-pane" type="button" role="tab" aria-controls="archived-tab-pane" aria-selected="false">ARCHIVED</button>
          </li>
        </ul>

        <div class="tag-content" id ="myTabContent">
          <div class="tab-pane fade show active" id="accepted-tab-pane" role="tabpanel" aria-labelledby="accepted-tab" tabindex="0">
            <div class="cards_tasks">
              <% @project.tasks.each do |task|  %>
                <% if task.status == "Accepted" %>
                  <%= render partial: "tasks/card_task", locals: {task: task} %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="awaiting-tab-pane" role="tabpanel" aria-labelledby="awaiting-tab" tabindex="0">
            <div class="cards_tasks">
              <% @project.tasks.each do |task|  %>
                <% if task.status == "Awaiting" %>
                  <%= render partial: "tasks/card_task", locals: {task: task} %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="archived-tab-pane" role="tabpanel" aria-labelledby="archived-tab" tabindex="0">
            <div class="cards_tasks">
              <% @project.tasks.each do |task|  %>
                <% if task.status == "Archived" %>
                  <%= render partial: "tasks/card_task", locals: {task: task} %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% @project.tasks.each do |task| %>
  <% if current_user.corporate %>
    <% if task.status == "Accepted" %>
      <% if task.review.nil? && task.end_date < Date.today %>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop<%= task.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop<%= task.id %>Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content custom_modal">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdrop<%= task.id %>Label">Write a review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= simple_form_for([@company, @project, task, @review]) do |f| %>
                  <%= f.input :content, as: :text, label: "What did you think of the candidate?" %>
                  <%= f.input :rating, as: :select, collection: (1..5), input_html: { data: { controller: "insert-in-list" } } %>
                  <%= f.submit "Send your review", class: "btn btn-primary btn-sm" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
