<%= @project.name %> <br>
<div class="btn-edit">
  <%=link_to "edit", edit_project_path(@project) %> <br>
</div>
<div class="btn-archive">
  <%= link_to "archive", company_projects_path(@project) %> <br>
</div>

<div class="btn-search">
  <%= link_to "search for candidates", company_project_candidates_path(@company, @project) %> <br>
</div>



<p>description</p> <%= @project.description %> <br>
<p>start date</p><%= @project.start_date %>
<p>end date</p><%=  @project.end_date %>

<h2>TASKS</h2>
<ul>
<% @project.tasks.each do |task|  %>
  <li>
  <%= task.candidate.first_name %>
  <%= task.candidate.last_name %>
  <%= task.status %>
  <%= task.start_date %>
  <%= task.end_date %>
  <%= simple_form_for (task) do |f| %>
    <%= f.input :status, collection: ["Archived"] %>
    <%= f.button :submit %>
  <% end %>
  <% if task.review.nil? && task.end_date < Date.today %>
    <%= simple_form_for([@company, @project, task, @review], method: :post) do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
      <%= f.button :submit, label: "Write a review" %>
    <% end %>
  <% end %>
  </li>
<% end %>
</ul>
