<div class="container">

  <div class="card_profile_project">
    <h1><%= @project.name %></h1>
    <h2>description</h2> <p><%= @project.description %></p> <br>
    <h2>start date</h2> <p><%= @project.start_date %></p>
    <h2>end date</h2> <p><%=  @project.end_date %></p>
    <div class="btn-edit">
      <%=link_to "edit", edit_project_path(@project) %> <br>
    </div>
    <div class="btn-archive">
      <%= link_to "archive", company_projects_path(@project) %> <br>
    </div>
  </div>

  <div class="">

    <div class="btn-search">
      <%= link_to "search for candidates", company_project_candidates_path(@company, @project) %> <br>
    </div>

    <h2>TASKS</h2>
     <% @project.tasks.each do |task|  %>
       <div class="card_profile_candidate">
         <h1><%= task.candidate.first_name %> <%= task.candidate.last_name %></h1>
         <p><%= task.status %></p>
        <h2> <%= task.start_date %> </h2>
        <h2> <%= task.end_date %> </h2>
         <%= simple_form_for (task) do |f| %>
           <%= f.input :status, collection: ["Archived"] %>
           <%= f.button :submit, class: "btn-update" %>
         <% end %>
         <% if task.review.nil? && task.end_date < Date.today %>
           <!-- Pop-up -->
           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
           Write a review
           </button>
           <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                 <%= simple_form_for([@company, @project, task, @review], method: :post) do |f| %>
                   <%= f.input :content %>
                   <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
                   <%= f.button :submit, label: "Write a review" %>
                 <% end %>
               </div>
             </div>
           </div>
         <% end %>
       </div>
     <% end %>

  </div>

</div>
