  <%= @project.name %> <br>
  <%=link_to "edit", edit_project_path(@project) %> <br>
  <%= link_to "archive", company_projects_path(@project) %> <br>


<%= link_to "search for candidates", candidates_path %> <br>

<p>description</p> <%= @project.description %> <br>
<p>start date</p><%= @project.start_date %>
<p>end date</p><%=  @project.end_date %>

<h2>TASKS</h2>
<ul>
<% @project.tasks.each do |task|  %>
  <li><%= task.candidate.first_name %>
  <%= task.candidate.last_name %>
  <%= task.status %>
  <%= task.start_date %>
  <%= task.end_date %>
  <% if task.end_date < Date.today %>
    <%= link_to "Write a review", new_review_path %>
  <% end %>
  </li>
  <br>
<% end %>
</ul>
