<div class="container">

  <div class="d-flex">
    <div class="profile_company">
      <div class="card_profile_company">
        <% if @company.avatar.attached? %>
          <%= cl_image_tag(@company.avatar.key) %>
        <% else %>
          <%= image_tag("avatarcompany.png")%>
        <% end %>
        <h1><%= @company.name %></h1>
        <h3>SIRET <%= @company.siret %></h3>
        <h4><%= @company.address %></h4>
        <p><%= @company.description %></p>
        <% if current_user == @company.user %>
          <%= link_to 'Edit profile',  edit_company_path(@company.id), class: "btn-edit" %>
        <% end %>
      </div>

      <div class="card_new_project d-flex">
        <%= link_to new_company_project_path(@company) do %>
          <span style="color: #FF8A85">
            <i class="fa-solid fa-circle-plus fa-2xl fa-spin" style="--fa-animation-duration: 15s;"></i>
          </span>
          <p> add a new project</p>
        <% end %>
      </div>
    </div>


    <div class="onglets_company">
      <div class="container-principal">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">On-going PROJECTS</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Archived PROJECTS</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="cards_projects">
              <% @company.projects.each do |project| %>
                <% if project.archived == false %>
                  <div class="card_project">
                    <h1><%= " #{project.name}" %></h1>
                    <h2><%= "du #{project.start_date}" %></h2>
                    <h2><%= "au #{project.end_date}" %></h2>
                    <%= link_to "More details", company_project_path(@company, project.id), class:"btn-details" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="cards_projects">
              <% @company.projects.each do |project| %>
                <% if project.archived == true %>
                  <div class="card_project">
                    <h1><%= "#{project.name}" %></h1>
                    <h2><%= "du #{project.start_date}" %></h2>
                    <h2><%= "au #{project.end_date}" %></h2>
                    <%= link_to "More details", company_project_path(@company, project.id), class: "btn-details" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
