<div class="container profile">

  <div class="d-flex">
    <div class="card_profile_company">
      <% if @company.avatar.attached? %>
        <%= cl_image_tag(@company.avatar.key,
        width: 50, height: 50, crop: :fill) %>
      <% else %>
        <%= image_tag("https://picsum.photos/400/300",
        width: 70, height: 70, crop: :fill)%>
      <% end %>
      <h1><%= @company.name %></h1>
      <p>SIRET <%= @company.siret %></p>
      <h4>Address</h4>
      <p><%= @company.address %></p>
      <h4>Description</h4>
      <p><%= @company.description %></p>
      <div class="btn-edit">
        <% if current_user == @company.user %>
          <%= link_to 'Edit profile',  edit_company_path(@company.id) %>
        <% end %>
      </div>
    </div>


    <div class="projects">
      <div class="container-principal">
        <nav>
          <div class ="nav nav-tabs" id="container-onglets" role="tablist">
            <button class="nav-link active" id="nav-live-tab" data-bs-toggle="tab"
            data-bs-target="#nav-live" type="button" role="tab" arial-controls="nav-live"
            aria-selected="true">Live projects </button>

            <button class="nav-link" id="nav-archived-tab" data-bs-toggle="tab"
            data-bs-target="#nav-archived" type="button" role="tab" arial-controls="nav-archived"
            aria-selected="true">Archived projects</button>
          </div>
        </nav>

        <div class="card_new_project">
          <div class= "btn-new">
            <%= link_to "Add project", new_company_project_path(@company) %>
          </div>
        </div>
        <div class="tag-content" id ="nav-tab-content">
          <div class="tab-pane fade show active p-3" id="nav-live" role="tabpane1" aria-labelledby="nav-live-tab">
            <% @company.projects.each do |project| %>
              <% if project.archived == false %>
                <div class="card_project">
                  <h1><%= "Projet #{project.name}" %></h1>
                  <h2><%= "du #{project.start_date}" %></h2>
                  <h2><%= "au #{project.end_date}" %></h2>
                  <p><%= "Description : #{project.description}" %></p>
                  <p><%= "Status : #{project.archived == true ? "closed" : "live"}" %></p>
                  <div class="btn-details">
                    <p><%= link_to "More details", company_project_path(project.id) %></p>
                    <%= link_to "Archive", archived_path(project) %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane fade p-3" id="nav-archived" role="tabpane1" aria-labelledby="nav-archived-tab">
            <% @company.projects.each do |project| %>
              <% if project.archived == true %>
                <div class="card_project">
                  <h1><%= "Projet #{project.name}" %></h1>
                  <h2><%= "du #{project.start_date}" %></h2>
                  <h2><%= "au #{project.end_date}" %></h2>
                  <p><%= "Description : #{project.description}" %></p>
                  <p><%= "Status : #{project.archived == true ? "closed" : "live"}" %></p>
                  <div class="btn-details">
                    <p><%= link_to "More details", company_project_path(project.id) %></p>
                    <%#= link_to "Archive", archived_path(project) %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
